<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>Contato com a desenvolvedor.</p>

Ainda em construcao, canais de contato:
<ul>
  <li><a href="https://www.linkedin.com/pub/frederico-pereira/79/1b9/a5">Linkedin</a></li>
  <li><a href="http://javautilidades.blogspot.com.br/">Blog</a></li>
  <li><a href="https://plus.google.com/+FredericoPereira/posts/p/pub">Google+</a></li>
<ul>
