<div class="center jumbotron">
  <h1>Welcome to Boleto 2 Custumer</h1>

  <h2>
    <p>Sistema em testes!</p>
    <p>Versao ALPHA, apenas para verificacao de ambiente e pequenos testes de escala.</p>
  </h2>

  <%= link_to "Teste agora!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>