<footer class="footer">
  <small>
    by <a href="https://www.linkedin.com/pub/frederico-pereira/79/1b9/a5">Frederico Pereira</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>