body
  header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "Boleto 2 Custumer", root_path, id: "logo"
      nav
        ul.nav.navbar-nav.navbar-right
          li= link_to "Home",   root_path
          li= link_to "Ajuda",   help_path
          li
            - if signed_in?
              = link_to "#{current_user.email}", sign_out_path, method: :delete
            - else
              = link_to t(".sign_in"), sign_in_path
